{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}
{% block meta_description %}Formations{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste de nos formations :</h1><br>
    
        <table class="table table-striped">
            <thead>
                <tr class="table-active">
                    <th>Nom de la formation</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th colspan="2">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for formation in formations %}
                    <tr>
                        <td><a href="{{path('show_formation', {'id' : formation.id})}}">{{formation.nomFormation}}</a></td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{path('edit_formation', {'id' : formation.id})}}"><img src="img/crayon.png" alt="crayon" width="20"></a></td>
                            <td><a href="{{path('delete_formation', {'id' : formation.id})}}"><img src="img/croix.png" alt="crayon" width="20"></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-outline-secondary"><a href="{{ path('new_formation') }}">Ajouter une formation</a></button>
        {% endif %}
</div>

{% endblock %}