{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

{% for formation in formations %}

    <a href="{{path('show_formation', {'id' : formation.id})}}">{{formation.nomFormation}}</a>
    <button><a href="{{path('edit_formation', {'id' : formation.id})}}">Editer</a></button>
    <button><a href="{{path('delete_formation', {'id' : formation.id})}}">Supprimer</a></button><br>
    
{% endfor %}

    <a href="{{ path('new_formation') }}">Ajouter une formation</a>

{% endblock %}
