{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

    {% for stagiaire in stagiaires %}
        <a href="{{path('show_stagiaire', {'id' : stagiaire.id})}}">{{stagiaire.prenom}} {{stagiaire.nom}}</a>

        {% if is_granted('ROLE_ADMIN') %}
            <button><a href="{{path('edit_stagiaire', {'id' : stagiaire.id})}}">Editer</a></button>
            <button><a href="{{path('delete_stagiaire', {'id' : stagiaire.id})}}">Supprimer</a></button>
        {% endif %}
        <br>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <button><a href="{{path('new_stagiaire')}}">Ajouter un stagiaire</a></button>   
    {% endif %}

{% endblock %}
