{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

    {% for stagiaire in stagiaires %}
        <a href="{{path('show_stagiaire', {'id' : stagiaire.id})}}">{{stagiaire.prenom}} {{stagiaire.nom}}</a>
        <button><a href="{{path('edit_stagiaire', {'id' : stagiaire.id})}}">Editer</a></button>
        <button><a href="{{path('delete_stagiaire', {'id' : stagiaire.id})}}">Supprimer</a></button><br>
    {% endfor %}

    <button><a href="{{path('new_stagiaire')}}">Ajouter un stagiaire</a></button>

{% endblock %}
