{% extends 'base.html.twig' %}

{% block title %}Ajouter un Stagiaire{% endblock %}
{% block meta_description %}Ajout de stagiaire{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(formAddStagiaire) }}
    
            {{ form_row(formAddStagiaire.nom)}}<br>
            {{ form_row(formAddStagiaire.prenom)}}<br>
            {{ form_row(formAddStagiaire.sexe)}}<br>
            {{ form_row(formAddStagiaire.dateNaissance)}}<br>
            {{ form_row(formAddStagiaire.ville)}}<br>
            {{ form_row(formAddStagiaire.courriel)}}<br> 
            {{ form_row(formAddStagiaire.telephone)}}<br> 
            {{ form_row(formAddStagiaire.valider)}}<br>
    
        {{ form_end(formAddStagiaire) }}
    </div>

{% endblock %}