{% extends 'base.html.twig' %}

{% block title %}Fiche stagiaire{% endblock %}

{% block body %}

    <h1>Fiche stagiaire</h1><br>

    <h2>{{stagiaire.prenom}} {{stagiaire.nom}}</h2><br>
    <p>Adresse mail : {{stagiaire.courriel}} Téléphone : {{stagiaire.telephone}}</p><br>
    
    <h3>Session(s) auquel {{stagiaire.prenom}} {{stagiaire.nom}} est inscrit(e) :</h3><br>
        
    {# {% for session in sessions %}

        <h4>{{session.titre}}</h4>

        Nombre de places : {{session.nbPlaces}}<br> Date de début : {{session.dateDebutFr}} Date de fin :  {{session.dateFinFr}}<br>

    {% endfor %} #}

    {% for sessions in stagiaire.sessions %}
        
        {{sessions.titre}}<br>
        Nombre de places : {{sessions.nbPlaces}}<br> Date de début : {{sessions.dateDebutFr}} Date de fin :  {{sessions.dateFinFr}}<br>

    {% endfor %}


{% endblock %}