{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <h1>Panneau administratif</h1><br>

        <a href="{{path('new_formation')}}" type="button" class="btn btn-outline-danger">Ajouter une formation</a>
        <a href="{{path('new_session')}}" type="button" class="btn btn-outline-danger">Ajouter une session</a>
        <a href="{{path('new_module')}}" type="button" class="btn btn-outline-danger">Ajouter un module</a>
        <a href="{{path('new_programme')}}" type="button" class="btn btn-outline-danger">Ajouter un programme</a>
        <a href="{{path('new_categorie')}}" type="button" class="btn btn-outline-danger">Ajouter une catégorie</a>
        <a href="{{path('new_stagiaire')}}" type="button" class="btn btn-outline-info">Ajouter un stagiaire</a>
        <a href="{{path('new_formateur')}}" type="button" class="btn btn-outline-info">Ajouter un formateur</a>

    </div>

{% endblock %}
