{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}

<h1>Toutes nos sessions :</h1>

    {% for session in sessions %}
        <a href="{{path('show_session', {'id' : session.id})}}">{{session.titre}}</a>

        {% if is_granted('ROLE_ADMIN') %}
            <button><a href="{{path('edit_session', {'id' : session.id})}}">Editer</a></button>
            <button><a href="{{path('delete_session', {'id' : session.id})}}">Supprimer</a></button>
        {% endif %}
        <br>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <button><a href="{{path('new_session')}}">Ajouter une session</a></button>
    {% endif %}
    
{% endblock %}
