{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <div class="container">
        <button class="retour"><a href="{{path('app_session')}}">Retour aux sessions</a></button>
    
        {% if is_granted('ROLE_ADMIN') %}
            <button><a href="{{path('edit_session', {'id' : session.id})}}">Editer</a></button>
            <button><a href="{{path('delete_session', {'id' : session.id})}}">Supprimer</a></button>
        {% endif %}
    
        <h1>Session : {{session.titre}} du {{session.dateDebutFr}}</h1><br>
        
        <table class="table table-striped table-danger">
            <thead>
                <tr>
                    <th>Formateur référent</th>
                    <th>Formation</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">{{session.formateur}}</a></td>
                    <td>{{session.formation}}</td>
                    <td>{{session.dateDebutFr}}</td>
                    <td>{{session.dateFinFr}}</td>
                </tr>
            </tbody>
        </table>

        <h5>Programme :</h5><br>

            <table class="table table-striped table-info">
                <thead>
                    <tr class="table-active">
                        <th>Nom du module</th>
                        <th>Nombre de jours</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Supprimer du programme</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for programmes in session.programmes %}
                    <tr>
                        <td>{{programmes.module}}</td>
                        <td>{{programmes.duree}} jours</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('remove_programme',{'module' : programmes.module.id, 'session' : session.id})}}"><span class="material-symbols-outlined">close</span></a></td>                            
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Total :</td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td></td>
                        {% endif %}
                        <td>jours</td>
                    </tr>
                </tbody>
            </table>
    
            <h6> Modules non programmés :</h6><br>
           <table class="table table-striped">
            <thead>
                <tr class="table-active">
                    <th>Nom du module</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Durée</th>
                        <th>Ajouter</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for module in nonProgrammes %}
                    <tr>
                        <td>{{module}}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <form action="{{ path('add_programme',{'module' : module.id, 'session' : session.id})}}" method="POST">
                                <input type="number" name="duree" id="duree">
                        </td>
                        <td>
                            <input type="submit" value="Ajouter">
                            </form>
                        </td>   
                            {% endif %}
                {% endfor %}
                    </tr>
            </tbody>
           </table>
        <h3>Stagiaires inscrits </h3>
    
        <table class="table table-striped table-warning">
            <thead>
                <tr class="table-active">
                    <th>Prenom Nom</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Supprimer de la session</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for stagiaires in session.stagiaires %}
                <tr>
                    <td><a href="{{path('show_stagiaire', {'id' : stagiaires.id})}}"> • {{stagiaires}}</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{path('remove_stagiaire',{'id' : stagiaires.id, 'session' : session.id})}}"><span class="material-symbols-outlined">close</span></a></td>
                    {% endif %}
                </tr>
                {% endfor %}<br>
            </tbody>
        </table>
    
        <h4>Stagiaires non inscrits </h4><br>

        <table class="table table-striped">
            <thead>
                <tr class="table-active">
                    <th>Prenom Nom</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Ajouter à la session</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for stagiaire in nonInscrits %}
                <tr>
                    <td> <a href="{{path('show_stagiaire', {'id' : stagiaire.id})}}"> • {{stagiaire}}</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                    {# <td><a href="">+</a></td> #}
                        <td><a href="{{path('add_stagiaire',{'id' : stagiaire.id, 'session' : session.id})}}"><span class="material-symbols-outlined">add</a></span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
            
    </div>
{% endblock %}