{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

<button class="retour"><a href="{{path('app_session')}}">Retour aux sessions</a></button>

    {% if is_granted('ROLE_ADMIN') %}
        <button><a href="{{path('edit_session', {'id' : session.id})}}">Editer</a></button>
        <button><a href="{{path('delete_session', {'id' : session.id})}}">Supprimer</a></button>
    {% endif %}

    <h1>Session : {{session.titre}} du {{session.dateDebutFr}}</h1><br>
    
    <p>Date de début : {{session.dateDebutFr}}</p>
    <p>Date de fin : {{session.dateFinFr}}</p><br>
    <p>Formateur référent : {{session.formateur}}</p><br>
    <p>Formation : {{session.formation}}</p><br>

    <h3>Stagiaires inscrits </h3>

    {% for stagiaires in session.stagiaires %}
        <a href="{{path('show_stagiaire', {'id' : stagiaires.id})}}">- {{stagiaires}}</a><br>
    {% endfor %}<br>

    <h4>Stagiaires non inscrits </h4><br>
        {% for stagiaire in nonInscrits %}
            {# <a href="{{path('show_stagiaire', {'id' : stagiaires.id})}}">-  {{stagiaire.nonInscrits}} </a><br> #}
            <a href="{{path('show_stagiaire', {'id' : stagiaire.id})}}">- {{stagiaire}}</a><br>
            {# {{dump(nonInscrits)}} #}
        {% endfor %}

    <h5>Programme :</h5><b>

        {% for programmes in session.programmes %}
            - {{programmes.module}}
            {{programmes.duree}} jours
        {% endfor %}

{% endblock %}