{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}
{% block meta_description %}Modules{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modules :</h1><br>

        <table class="table table-striped">
            <thead>
                <tr class="table-active">
                    <th>Nom du module</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th colspan="2">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                <tr>
                    <td><a href="{{path('show_module', {'id' : module.id})}}">{{module.nomModule}}</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{path('edit_module', {'id' : module.id})}}"><img src="img/crayon.png" alt="crayon" width="20"></a></td>
                        <td><a href="{{path('delete_module', {'id' : module.id})}}"><img src="img/croix.png" alt="crayon" width="20"></a></td>        
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-outline-secondary"><a href="{{path('new_module')}}">Ajouter un module</a></button>
        {% endif %}

    </div>

{% endblock %}
