{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Catégories :</h1><br>

        <table class="table table-striped">
            <thead>
                <tr class="table-active">
                    <th>Nom de la catégorie</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th colspan="2">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                <tr>
                    <td><a href="{{path('show_categorie', {'id' : categorie.id})}}">{{categorie.nomCategorie}}</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{path('edit_categorie', {'id' : categorie.id})}}">Editer</a></td>
                        <td><a href="{{path('delete_categorie', {'id' : categorie.id})}}">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <button><a href="{{path('new_categorie')}}">Ajouter une categorie</a></button>
        {% endif %}
    </div>


{% endblock %}
