{% extends 'base.html.twig' %}

{% block title %}Détails d'une catégorie{% endblock %}

{% block body %}

    <h1>Détails d'une catégorie</h1>

    <h2>{{categorie.nomCategorie}}</h2><br>
    
    <h3>Modules </h3><br>

    {% for modules in categorie.modules %}
        <a href="{{path('show_module', {'id' : modules.id})}}">{{modules}}</a><br>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <button><a href="{{path('edit_categorie', {'id' : categorie.id})}}">Editer</a></button>
        <button><a href="{{path('delete_categorie', {'id' : categorie.id})}}">Supprimer</a></button>
    {% endif %}

{% endblock %}