{% extends 'base.html.twig' %}

{% block title %}Formateurs{% endblock %}

{% block body %}

<h1>Liste de nos formteurs :</h1>

    {% for formateur in formateurs %}
        <a href="{{path('show_formateur', {'id' : formateur.id})}}">{{formateur.prenom}}</a>
        {% if is_granted('ROLE_ADMIN') %}
            <button><a href="{{path('edit_formateur', {'id' : formateur.id})}}">Editer</a></button>
            <button><a href="{{path('delete_formateur', {'id' : formateur.id})}}">Supprimer</a></button>
        {% endif %}
        <br>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <button><a href="{{path('new_formateur')}}">Ajouter un formateur</a></button>
    {% endif %}
{% endblock %}
