{% extends 'base.html.twig' %}

{% block title %}Fiche formateur{% endblock %}
{% block meta_description %}Détails formateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Fiche formateur</h1>
    
        <h2>{{formateur.prenom}} {{formateur.nom}}</h2><br>
        
        <h3>Sessions dont {{formateur.prenom}} {{formateur.nom}} est référent(e)</h3>
    
        {% for sessions in formateur.sessions %}
            <a href="{{path('show_session', {'id' : sessions.id})}}">{{sessions}}</a><br>
        {% endfor %}
    </div>
{% endblock %}