{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block meta_description %}Profil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon profil</h1><br>
    
{# <button><a href="{{ path('edit_user', {'id' : app.user.id})}}">Modifier user</a></button> #}

        <h2>Mes informations personnelles</h2><br>
        
        <p>Pseudo : {{app.user.pseudo}}</p><br>
        <button type="button" class="btn btn-outline-danger btn-sm"><a href="{{ path('edit_user', {'id' : app.user.id})}}">Modifier pseudo</a></button><br><br>

        <p>Courriel : {{app.user.email}}</p><br>
        <button type="button" class="btn btn-outline-danger btn-sm"><a href="{{ path('edit_user_email', {'id' : app.user.id})}}">Modifier email</a></button><br><br>


        <p>Mot de passe : {{app.user.password}}</p><br>
        <button type="button" class="btn btn-outline-danger btn-sm"><a href="{{ path('upgrade_password', {'id' : app.user.id})}}">Modifier mot de passe</a></button><br><br>
        {# <button type="button" class="btn btn-outline-danger btn-sm"><a href="">Modifier mot de passe</a></button><br><br> #}

        <button type="button" class="btn btn-danger"><a href="{{ path('delete_user', {'id': app.user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">Supprimer mon compte</a></button>

    
        {# <h3>Mes sessions en cours</h3><br>

        <h4>Mes sessions passées</h4><br> #}
    </div>

{% endblock %}
