{% extends 'base.html.twig' %}

{% block title %}Ajouter un programme{% endblock %}
{% block meta_description %}Ajout programme{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(formAddProgramme) }}
    
            {{ form_row(formAddProgramme.session)}}   
            {{ form_row(formAddProgramme.module)}}
            {{ form_row(formAddProgramme.duree)}} 
            {{ form_row(formAddProgramme.valider)}}
    
        {{ form_end(formAddProgramme) }}
    </div>

{% endblock %}